*{
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body{
    background-color: blanchedalmond;
}

#options{
    display: flex;
    width: 100%;
    background-color: red;
    flex: 1 100%;
}

h1{
    font-size: 2rem;
    flex-grow: 2;
}

.button{
    padding: 10px;
    margin: 10px;
}

#gameContainer{
    display: grid;
    width: 80%;
    margin: 30px 10%;

}

.cardFace{
    height:200px;
    /* transition: transform 0.8s; */
}

/* .cardFace:hover{
    transform: rotateY(180deg);
} */

div { 
    padding-left: 40%;
}

.scene {
    display: inline-block;
    margin: 40px 0;
    perspective: 6000px;
}

.card{
    position: relative;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
}

.card.is-flipped {
    transform: translateX(-65%) rotateY(-180deg);
  }

  .cardFaceFront{
    position:absolute;

    backface-visibility: hidden;
  }

  .cardFaceBack{
    transform: rotateY(180deg);
  }

  .card.stays-flipped {
    transform: translateX(-65%) rotateY(-180deg);
  }